<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<% if show_form %>
						Edit
					<% else %>
						Show
					<% end %>
				</h4>
			</div>
			<div class="modal-body">
				<!-- widget div -->
				<div>       
				  <!-- widget edit box -->

				  <!-- widget content -->
				  <div class="widget-body">
				  	<% if show_form %>
						<%= render :partial => 'form', :locals => {:user => @user} %> 
					<% else %>
						<%= render :partial => 'show_user', :locals => {:user => @user} %> 	
					<% end %>

				  </div><!-- end .widget-body -->
				</div><!-- end widget div -->

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
